<div class="bg-light lter b-b wrapper-md hidden-print">
  <h1 class="m-n font-thin h3">模板</h1>
</div>




<div class="wrapper-md">
  <div class="row row-sm text-center">
    <div class="col-xs-3">
      <div class="panel">

        <div class="panel-heading bg-primary no-border">
            <br>
          <h2 class="m-t-none text-center ">
            <span class="text-white font-thin h2 block">电子票</span>
          </h2>
          <span class="w-full">
              <i class="fa fa-cloud-upload text-muted m-r-sm"></i>
          </span>
        </div>

        <div class="panel-footer text-center">
            <br>
            <span class="text-xs">电子凭证，用于单一商户验证</span>
            <br><br>
          <a ng-click="create('eticket')" class="btn btn-primary font-bold m"> &nbsp;&nbsp;创建&nbsp;&nbsp;</a>
        </div>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="panel">
        <div class="panel-heading text-center bg-success no-border">
          <!-- <h4 class="text-u-c m-b-none">
              <i class="glyphicon glyphicon-th-large icon "></i>
          </h4> -->
          <br>
          <h2 class="m-t-none">
            <span class="text-white font-thin h2 block">套票</span>
          </h2>
          <span class="w-full">
              <i class="glyphicon glyphicon-th-large icon "></i>
          </span>
        </div>

        <div class="panel-footer text-center">
            <br>
            <span class="text-xs">多商户电子凭证，用于多个商户验证</span>
            <br><br>
          <a href="" class="btn btn-success font-bold m"> &nbsp;&nbsp;创建&nbsp;&nbsp;</a>
        </div>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="panel">
        <div class="panel-heading text-center bg-info no-border">
          <!-- <h4 class="text-u-c m-b-none">
              <i class="glyphicon glyphicon-th-large icon "></i>
          </h4> -->
          <br>
          <h2 class="m-t-none">
            <span class="text-white font-thin h2 block">服务</span>
          </h2>
          <span class="w-full">
              <i class="glyphicon glyphicon-th-large icon "></i>
          </span>
        </div>

        <div class="panel-footer text-center">
            <br>
            <span class="text-xs">无实体的服务</span>
            <br><br>
          <a href="" class="btn btn-info font-bold m"> &nbsp;&nbsp;创建&nbsp;&nbsp;</a>
        </div>
      </div>
    </div>
  </div>
</div>


