<div class="wrapper-md ng-scope">
<div class="panel panel-default" ng-repeat="obj in objs">
    <div class="panel-heading">
      {{obj.name}}({{obj.code}})
    </div>
<!--     <div class="row wrapper">
      <div class="col-sm-5 m-b-xs">
        <select class="input-sm form-control w-sm inline v-middle">
          <option value="0">Bulk action</option>
          <option value="1">Delete selected</option>
          <option value="2">Bulk edit</option>
          <option value="3">Export</option>
        </select>
        <button class="btn btn-sm btn-default">Apply</button>                
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="text" class="input-sm form-control" placeholder="Search">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div> -->
    <!-- <div class="table-responsive"> -->
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            <th>模块名称</th>
            <th>模块编号</th>
            <th>状态</th>
            <th>别名</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in obj.arr" >
            <td>{{item.system_module_name}}</td>
            <td>{{item.system_module_code}}</td>
            <td>{{item.system_module_start_flag}}</td>
            <td>{{item.system_module_alias}}</td>
            <td>
              <div class="btn-group dropdown" dropdown="">
                <button class="btn btn-primary btn-xs" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">操作 <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a ng-click="edit(item)">编辑</a></li>
                  <li><a ng-click="delete(item)">删除</a></li>
                </ul>
              </div>
    
            </td>
          </tr>
          
          
        </tbody>
      </table>
    <!-- </div> -->
<!--     <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-4 hidden-xs">
          <select class="input-sm form-control w-sm inline v-middle">
            <option value="0">Bulk action</option>
            <option value="1">Delete selected</option>
            <option value="2">Bulk edit</option>
            <option value="3">Export</option>
          </select>
          <button class="btn btn-sm btn-default">Apply</button>                  
        </div>
        <div class="col-sm-4 text-center">
          <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
        </div>
        <div class="col-sm-4 text-right text-center-xs">                
          <ul class="pagination pagination-sm m-t-none m-b-none">
            <li><a href=""><i class="fa fa-chevron-left"></i></a></li>
            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li><a href=""><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </footer> -->
</div>
</div>